<!doctype html>
<html lang="en">
  <head>
    <title>Hwp to Latex equation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hwp to Latex equation</h1>
    <h2>Hwp equation input</h2>
      <ul>
        <li>
          <form action="/converter/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
          </form>
        </li>
      </ul>

    {% if latexeq %}
    <h2>Latex equation output</h2>
      <ul>
        <li>{{latexeq}}</li>
        <li>{{latexeq}}</li>
      </ul>
    {% endif %}


    <h4>Acknowledgement</h3>
      <ul>
        <li>This page is using hml_equation_parser. <a href=https://github.com/OpenBapul/hml-equation-parser>https://github.com/OpenBapul/hml-equation-parser</a></li>
        <li><b>The result may not be perfect. Use at your own risk!</b></li>
      </ul>


  </body>
</html>
