{% extends 'hwp2latex/base.html' %}

{% block content %}
    <h2>Hwp equation input</h2>
      <ul>
        <li>
          <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
          </form>
        </li>
      </ul>

    {% if latexeq %}
    <br/>
    <h2>Latex equation output</h2>
      <ul>
        <table><tr><td>\[{{latexeq}}\]</td></tr></table>
        <li><strong>{{latexeq}}</strong></li>
      </ul>
    {% endif %}
    <br/>
    <br/>
    <h4>Acknowledgement</h3>
      <ul>
        <li>This page is using hml_equation_parser. <a href=https://github.com/OpenBapul/hml-equation-parser>https://github.com/OpenBapul/hml-equation-parser</a></li>
        <li><b>The result may not be perfect. Use at your own risk!</b></li>
      </ul>
      {% endblock %}
