{% extends 'hwp2latex/base.html' %}

{% block content %}
<h2>Conversion Log</h2>
{% if user.is_authenticated %}
  <table class="css-serial" style="border-collapse: separate; border-spacing: 10px;">
    <thead>
      <tr>
        <th>#</th>
        <th>Equation</th>
        <th>Input</th>
        <th>Output</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
  {% for conversionlog in conversionlogs %}
    <tr>
      <td>. </td>       <!--serial-number "."-->
      <td>\({{ conversionlog.latex_eq }}\)</td>
      <td>{{ conversionlog.hwp_eq }}</td>
      <td>{{ conversionlog.latex_eq }}</td>
      <td>{{ conversionlog.created_date }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>


{% endif%}

{% endblock %}
