<html>
<head>
<title>hwp to latex equation converter</title>
</head>

<body>
<h1>hwp to latex equation converter</h1>


<h3>Hwp equation input</h3>

<form action="/converter/" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit" />
</form>

{% if hwpeq %}
<h3>Latex equation output</h3>
input hwpeq is {{ hwpeq }} <br/>
output latexeq is {{ latexeq}} <br/>
{% endif %}

<h4>Acknowledgement</h3>
<ul>
<li>This page is using hml_equation_parser. <a href=https://github.com/OpenBapul/hml-equation-parser>https://github.com/OpenBapul/hml-equation-parser</a></li>
<li><b>The conversion may be not perfect. Use your own risk!</b></li>
</ul>
</body>
</html>
